<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>352075173034-98v6a4h81ck9sskkfrljoj48e3cnhl1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352075173034-98v6a4h81ck9sskkfrljoj48e3cnhl1c</string>
	<key>API_KEY</key>
	<string>AIzaSyC-vokvX68vHMkEDvDUNRlG9y5aIlyLj_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>352075173034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>B0nty.SnapChat-clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-ff85c</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-ff85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:352075173034:ios:059e50a9c1de1f04</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-ff85c.firebaseio.com</string>
</dict>
</plist>